{% extends "base.html" %}

{% block title %} Профиль {% endblock %}

{% block content %}

{% if user.is_authenticated %}
<p>Добро пожаловать, {{ request.user.username }}!</p>
<a href="{% url 'create_request' %}">Создать заявку</a>
<h2>Мои заявки</h2>
        <ul>
        {% for request in posts %}
            <li>
                <h3>{{ request.name }}</h3>
                <p>{{ request.description }}</p>
                <img src="{{ request.image.url }}" alt="{{ request.title }}" width="300px" height="250px">
                <p>Категории:
                    {{ request.category }}
                </p>
                <a href="{% url 'detail_request' request.id %}" class="btn btn-success">Подробнее</a>
                <a href="{% url 'update_request' request.id %}" class="btn btn-warning">Изменить</a>
                {% if request.status == 'New' %}
                    <a href="{% url 'delete_request' request.id %}" class="btn btn-danger">Удалить</a>
                {% else %}
                <p>Вы не можете удалить заявку, статус которой был изменен на "Принято в работу" или "Выполнено"</p>
                {% endif %}
        {% empty %}
            <li>У вас нет заявок.</li>
        {% endfor %}
    </ul>
{% else %}
<p>Извините, вы не вошли в свой аккаунт!</p>

{% endif %}

{% endblock %}

